* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: arial ,bold , sans-serif;
    margin: 0;
    background-color:#7BAFAE;
}

a{
  text-decoration: none;
  color: black;
}

header { 
  display: flex;
  height: 70px;
  background-color: #F6937B;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img{
  height: 69px;
  margin-right: 10px;
}

nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: white;
}

.banner {
  background-image: url(banner.png);
  height: 27rem;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-banner {
  max-width: 90rem;
  margin-top: 170px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; 
  background-color: #FCD4C3; 
  text-align: center;
}

.content-banner h2 {
  margin-top: 10px;
  color:#F6937B

}

.content-banner .destacado {
  
  color: #CB724C;
}


.el-proyecto {
  background-color: #FCD4C3;
  padding: 25px;
  text-align: center;
  margin: 20px 20px;
}

.el-proyecto h2 {
  margin-bottom: 10px;
}

.reportaje {
  background-color: #FCD4C3;
  padding: 25px;
  
  margin: 20px 20px;
}

.reportaje h2 {
  margin-bottom: 20px;
  align-items: center;
}

.reportaje h1 {
  margin-bottom: 20px; 
  align-items: center;
}

.reportaje img {
  display: block; 
  margin: 0 auto; 
  padding: 1cm; 
  border: 10px solid transparent; 
}

.reportaje p {
  margin-bottom: 15px; 
}

.doscolumnas {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 -0.5cm; 
}

.reportaje2 {
  flex: 0 0 calc(50% - 1cm); 
  background-color: #F6937B;
  box-sizing: border-box; 
  padding: 25px;
  margin: 20px 20px;
}
.grafico1 {
  background-color: #F6937B;
  flex: 0 0 calc(50% - 0.5cm); 
}

h2 {
  color: #333;
}

p {
  line-height: 1.5;
  color: #666;
}

.grafico1 {
  max-width: 100%;
  height: auto;
  display: block;
}
