* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: arial ,bold , sans-serif;
    margin: 0;
    background-color:#7BAFAE;
}

a{
  text-decoration: none;
  color: black;
}

header { 
  display: flex;
  height: 70px;
  background-color: #F6937B;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img{
  height: 69px;
  margin-right: 10px;
}

nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: white;
}

.banner {
  background-image: url(banner.png);
  height: 27rem;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-banner {
  max-width: 90rem;
  margin-top: 170px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; 
  background-color: #FCD4C3; 
  text-align: center;
}

.content-banner h2 {
  margin-top: 10px;
  color:#F6937B

}

.content-banner .destacado {
  
  color: #CB724C;
}


.el-proyecto {
  background-color: #FCD4C3;
  padding: 25px;
  text-align: center;
  margin: 20px 20px;
}

.el-proyecto h2 {
  margin-bottom: 10px;
}

.reportaje {
  background-color: #FCD4C3;
  padding: 25px;
  
  margin: 20px 20px;
}

.reportaje h2 {
  margin-bottom: 20px;
  align-items: center;
}

.reportaje h1 {
  margin-bottom: 20px; 
  align-items: center;
}

.reportaje img {
  display: block; 
  margin: 0 auto; 
  padding: 1cm; 
  border: 10px solid transparent; 
}

.reportaje p {
  margin-bottom: 15px; 
}


.reportaje2 {
  flex: 1;
  background-color: #F6937B;
  box-sizing: border-box;
  padding: 25px;
  margin: 20px 20px;
  overflow: auto;
}

h2 {
  color: #333;
}

p {
  line-height: 1.5;
  color: #666;
}

.grafico1 {
  background-color: #F6937B;
  box-sizing: border-box;
  padding: 25px;
  margin: 20px auto; /* Centrar horizontalmente usando márgenes automáticos */
  display: flex;
  justify-content: center;
  /* Ajusta el tamaño del contenedor para ocupar la mitad de la pantalla */
  width: 50vw; /* El 50% del ancho de la ventana */
  height: 100vh; /* El 100% de la altura de la ventana */
}

.grafico1 iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.p10 {
  flex: 1;
  background-color: #F6937B;
  box-sizing: border-box;
  padding: 25px;
  margin: 20px 20px;
  overflow: auto;
}


.hipotesis1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

.hipotesis1 img {
  height: 700px;
}

.carac1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

.carac1 img {
  height: 500px;
}
.Aprender-más {
  background-color: #FEC0CA ; /* Color rosado */
  padding: 10px; /* Ajusta el relleno según sea necesario */
  text-align: center;
  bottom: 0;
  width: 100%;
}

.Aprender-más a {
  text-decoration: none;
  color: black; /* Cambia el color del texto según sea necesario */
}

.p11 {
flex: 1;
  background-color: #F6937B;
  box-sizing: border-box;
  padding: 25px;
  margin: 20px 20px;
  overflow: auto;
}

.grafico2 {
  background-color: #F6937B;
  box-sizing: border-box;
  margin: 20px auto; /* Centrar horizontalmente usando márgenes automáticos */
  display: flex;
  justify-content: center;
  align-items: center; /* Centrar verticalmente el contenido */
  width: 1300px; /* Ocupa el 100% del ancho de la ventana */
  height: 800px; /* Ocupa el 100% de la altura de la ventana */
}

.grafico2 iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.p12 img {
  height: 700px;
}

.grafico3 {
  background-color: #F6937B;
  box-sizing: border-box;
  margin: 20px auto; /* Centrar horizontalmente usando márgenes automáticos */
  display: flex;
  justify-content: center;
  align-items: center; /* Centrar verticalmente el contenido */
  width: 1200px; /* Ocupa el 100% del ancho de la ventana */
  height: 800px; /* Ocupa el 100% de la altura de la ventana */
}

.grafico3 iframe {
  width: 90%;
  height: 90%;
  border: none;
}

.grafico4 {
  background-color: #F6937B;
  box-sizing: border-box;
  margin: 20px auto; /* Centrar horizontalmente usando márgenes automáticos */
  display: flex;
  justify-content: center;
  align-items: center; /* Centrar verticalmente el contenido */
  width: 1200px; /* Ocupa el 100% del ancho de la ventana */
  height: 800px; /* Ocupa el 100% de la altura de la ventana */
}

.grafico4 iframe {
  width: 90%;
  height: 90%;
  border: none;
}
